<!--Start the module-->
<dom-module id="equipment-components">
<!--Initiate Template-->
    <template>    
    <!--Call the data through iron-ajax from the table change to database-->
        <iron-ajax id="ajaxequipmentdata"
            auto
            url="equipment-data.json"
            handle-as="json"
            on-response="_onajaxresponse"
            last-response = "{{ajaxResponse}}"
        ></iron-ajax>
        <!--Start the equipment template filtered by filterEquipment need to pass variable from table-->
            <template is="dom-repeat" items="{{ajaxResponse}}" filter="filterEquipment">   
                <table >
                    <div>
                        <tr><th>Equipment ID</th></tr>
                        <tr><td>{{item.id}}</td></tr>
                    </div>
                    <div>
                        <tr><th>Equipment Description</th></tr>
                        <tr><td>{{item.description}}</td></tr>
                    </div>  
                </table>
            </template>
    </template>
</dom-module>    
<script>
  Polymer({
    is: "equipment-components",
    
    ready:function(){
        
    },
    _onajaxresponse:function(e){
        console.log('Information connected',e.detail.response)
    },
    filterEquipment:function(item){
        return item.id == '101456780';
    }
  });
</script>


<!--Start the module-->
<dom-module id="equipment-data">
<!--Initiate Template-->
    <template>   …
    filterEquipment:function(item){
        return item.id == '101456780';
    }
  });
</script>


